{% load i18n %}  <!-- Загружаем тег для перевода -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Confirmation email" %}</title>
</head>
<body>
    <h3>{% blocktrans %}Thank you for registering{% endblocktrans %} {{ user.username }}!</h3>
    <h3>{% blocktrans %}Please follow{% endblocktrans %} <a href="{{ activate_url }}">the link</a> {% blocktrans %}to activate your account{% endblocktrans %}</h3>
    <!-- Вставляем ссылку на активацию -->
</body>
</html>

